<div class="container">
    	<div class="row">
            <div class="col-xs-12">
    			<div class="box">
    				<div class="icon" style="margin-top: 88px;">

    					<div class="info">
                <h2>We live in a world of Information overload! </h2>
                <p class="lead">
                  We come across people daily who are following too many things and chasing too <br>
                  many directions in their attempt to learn data science. It is hard to blame them,<br>
                   when there is so much content to absorb. These people start doing a MOOC – 2 videos<br>
                    down the line, they switch on to a blog,then a notebook and end up reaching nowhere.
                </p>
                <%= link_to "Get a mentor", current_user, class: "btn btn-success" %>
    					</div>
    				<div class="space"></div>
    			</div>
    		</div>
    	</div>
    </div>
    <hr>

    <div class="container">
      <div class="col-md-6">
        <div class="page-header">
          <h2><small>extimated duration: <code>6 months</code>.</small></h2>
        </div>
        <div class="timeline">
          <div class="line text-muted"></div>
            <div class="separator text-muted">
                <time class="productDate">After gauging your interest and u cannot do it alone, you can
                  <a href="#">request for a mentor.</a>
                </time>
            </div>
          <article class="panel panel-primary product-panel">
              <div class="panel-heading icon">
                  <a class="newProductsLinkIcon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="glyphicon glyphicon-plus"></i></a>
              </div>
              <div class="panel-heading clickable newProducts">
                  <a class="newProductsLink" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <h4 class="panel-title new-products-title">
                  Guage your interest.</h4>
                  </a>
              </div>
              <div class="panel-body">
              <div id="collapseOne" class="panel-collapse collapse in">
                <ul class=newProductsList>
                  <li><a href="#">Life of a Data Scientist</a></li>
      				    <li><a href="#">Interesting Blogs</a></li>
  					      <li><a href="#">Business Analytics</a></li>
  					      <li><a href="#"></a>Connect to influentials</li>
  					      <li><a href="#">Connect to influentials</a></li>
                </ul>
              </div>
          </article>

          <article class="panel panel-primary product-panel">
              <div class="panel-heading icon">
                  <a class="newProductsLinkIcon" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="glyphicon glyphicon-plus"></i></a>
              </div>
              <div class="panel-heading clickable restockedProducts">
                  <a class="newProductsLink" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <h4 class="panel-title new-products-title">
                    Time to improve your math and statistical skills.
                    You would require them in predictive modelling and machine learning</h4>
                  </a>
              </div>
              <div class="panel-body">
              <div id="collapseTwo" class="panel-collapse collapse in">
                      <ul class=newProductsList>
                     <li><a href="#">Inferential and descriptive statistics by Udacity</a></li>
      				<li><a href="#">Algebra by Khan Academy</a></li>
  					<li><a href="#">Probability by Khan Academy</a></li>
  					<li><a href="#">Massively Multivariables Open Oline Caculus Course by Coursera</a></li>
                  </ul>
              </div>
              <!-- /Body -->
          </article>
          <article class="panel panel-primary product-panel">
              <div class="panel-heading icon">
                  <a class="newProductsLinkIcon" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="glyphicon glyphicon-plus"></i></a>
              </div>
              <div class="panel-heading clickable restockedProducts">
                  <a class="newProductsLink" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <h4 class="panel-title new-products-title">
                    Time to code</h4>
                  </a>
              </div>
              <div class="panel-body">
              <div id="collapseTwo" class="panel-collapse collapse in">
                <ul class=newProductsList>
                  <li><a href="#">Install R, Do swirl</a></li>
                  <li><a href="#">Do Python course by Codecademy</a></li>
                  <li><a href="#">Advance R by Hardly</a></li>
                  <li><a href="#">Practice Python on Dataquest</a></li>
                </ul>
              </div>
              <!-- /Body -->
          </article>
          <article class="panel panel-primary product-panel">
              <div class="panel-heading icon">
                  <a class="newProductsLinkIcon" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="glyphicon glyphicon-plus"></i></a>
              </div>
              <div class="panel-heading clickable restockedProducts">
                  <a class="newProductsLink" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <h4 class="panel-title new-products-title">
                      This stage will determine your destiny as a Data Scientist I nearly gave up at
                      this stage. You will get closer to success if you simply do these tasks
                    </h4>
                  </a>
              </div>
              <div class="panel-body">
              <div id="collapseTwo" class="panel-collapse collapse in">
                <ul class=newProductsList>
                  <li><a href="#">Machine learning course by Andrew NG</a></li>
                  <li><a href="#">Learn CART and Clustering</a></li>
                  <li><a href="#">Learn qlickview and Tableu</a></li>
                  <li><a href="#">LEarn D3.js</a></li>
                </ul>
              </div>
              <!-- /Body -->
              <div class="row">
                    <div class="col-xs-12">
                  <div class="box">
                    <div class="icon" style="margin-top: 40px;">

                      <div class="info">

                        <p class="lead">
                          This plan was designed for working class or students with limited time <br>
                          to learn If you can dedicate more hour, you can accomplish this faster<br>

                        </p>

                      </div>
                    <div class="space"></div>
                  </div>
                </div>
              </div>
            </div>

          </article>
          <div class="line text-muted"></div>
      </div>
      <!-- /Timeline -->
    </div>
  </div>

<script>
var firefoxTestDone = false
function reportFirefoxTestResult(result) {
  if (!firefoxTestDone) {
    $('#ff-bug-test-result')
      .addClass(result ? 'text-success' : 'text-danger')
      .text(result ? 'PASS' : 'FAIL')  
  }
  firefoxTestDone = true
}

$(function () {
  $('.js-popover').popover()
  $('.js-tooltip').tooltip()
  $('#tall-toggle').click(function () {
    $('#tall').toggle()
  })
  $('#ff-bug-input').one('focus', function () {
    $('#myModal2').on('focus', function () {
      reportFirefoxTestResult(false)
    })
    $('#ff-bug-input').on('focus', function () {
      reportFirefoxTestResult(true)
    })
  })
})
</script>