<style>
        #header{background:black;}
        #header h1 {color:forestgreen; font-weight:bolder;padding-top:120px; font-family:"Fascinate Inline"; font-size:56px;}
        i{color:forestgreen;font-size:80px;font-weight:bolder;}
        h4{text-align:center; font-size:16px; font-family:gothic;font-weight:bolder;color:black;}
        .pad-bottom{padding-top:60px;padding-bottom:30px;font-family:"Inconsolata";}
        .pad-bottom p{font-weight:800; font-size:18px; font-family:gothic; }
        #testimonial {
    background: url(https://i.ytimg.com/vi/Hb_PDJ1poBg/maxresdefault.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
}

    #testimonial .overlay {
        background-color: rgba(0,0,0,0.7);
        padding-top: 40px;
        min-height: 300px;
        color: #fff;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    </style>
<div id="header" >
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center ">
                        <h1>ABOUT DATASCIENCE.NG</h1>
                    </div>
                </div>
            </div>

    </div>
    <!--HEADER SECTION END  -->
    <section id="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-md-offset-3 pad-bottom" data-scroll-reveal="enter from the bottom after 0.2s">
                    <h2><strong>OUR FOCUS AREAS</strong></h2>
                    <p>
                        Our main focus area for training and support are inline with the current skill demand around nationwide data and information management.</p>

                </div>
            </div>
            <div class="row text-center pad-bottom" data-scroll-reveal="enter from the bottom after 0.4s">
                <div class="col-md-3">
                    <i class="ion-chatbubbles"></i>
                    <h4><strong>DATA COLLECTION </strong></h4>
                   
                </div>
                <div class="col-md-3">
                    <i class="ion-ios-list"></i>
                    <h4><strong>DATA ENTRY & STORAGE</strong></h4>
                    
                </div>
                <div class="col-md-3">
                    <i class="ion-soup-can-outline"></i>
                    <h4><strong>DATABASE ADMINISTRATORS</strong></h4>
                   
                </div>
                <div class="col-md-3">
                    <i class="ion-ios-pie-outline"></i>
                    <h4><strong>DATA ANALYSTS</strong></h4>
                    
                </div>
            </div>
            <div class="row text-center" data-scroll-reveal="enter from the bottom after 0.6s">
                <div class="col-md-3">
                    <i class="ion-ios-flask"></i>
                    <h4><strong>DATA SCIENTISTS</strong></h4>
                    
                </div>
                <div class="col-md-3">
                    <i class="ion-code-working"></i>
                    <h4><strong>BIG DATA EXPERTS</strong></h4>
                    
                </div>
                <div class="col-md-3">
                    <i class="ion-settings"></i>
                    <h4><strong>DATA ENGINEERS</strong></h4>
                   
                </div>
                <div class="col-md-3">
                    <i class="ion-monitor"></i>
                    <h4><strong>DATA HARDWARE HACKERS</strong></h4>
                    
                </div>
            </div>
        </div>


    </section>
    
    <div class="container-fluid apply" style="background:lightgreen; height:150px;">
        <p style="text-align:center; font-weight:bolder; font-family:gothic; font-size:40px;padding:50px;color:black;">WE SIMPLY LEARN BY DOING.<a href="#"><i class="ion-ios-play" style="font-size:40px;padding:50px;color:black;"></i></a></p>
    </div>
    
    <div id="testimonial">
        <div class="overlay">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
                        <i class="ion-ios-drag clr-set f-big"></i>
                        <br />
                        
                   <p>Datascience.ng is on a mission to bridge the gap between education, theory & industry. Our goal is to ensure skills are developed to meet societal business and innovation needs. </p>
                   
                   <p>We scout, nuture, train and prepare the next generation data experts.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>