<div class="container-fluid" style="margin-top:40px">
         <div class= "container-fluid">
        <h3>APPLY FOR A COMPETITION HERE <a href="apply.html"><i class="fa fa-caret-right"></i></a></h3>
        
    </div>
         
         
         <!--THIS IS THE PANELS FOR THE COMPETITIONS PAGE-->
          <section id="about-us">
       		
			<!-- our-team -->
			<div class="team">
				<div class="row clearfix">
					<div class="col-md-4 col-sm-6">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media open">
								<div class="media-body">
                                    <h4>COLLECT AND STORE AGRIC DATA ACROSS NIGERIAN STATES</h4>
                                    <ul class="tag clearfix">
										<li class="btn pull-left"><a href="#">LEVEL 1</a></li>
										<li class="btn"><a href="#">DSNG</a></li>
                                   <li class="btn pull-right"><i class="fa fa-toggle-on"></i></li>
                                    </ul>
                                    <p>For Each Nigerian State, Collect and Record the Following Variables.</p>
							</div><!--/.media -->
							
							<div class="media-body">
									<ul class="tag clearfix">
										<li class="btn pull-right"><a href="#">3 Months</a></li>
										<li class="btn pull-right"><a href="#">Collector DSNG</a></li>
									</ul>
				          </div>
						</div>
					</div><!--/.col-lg-4 -->
                    </div>
					
					
					<div class="col-md-4 col-sm-6 col-md-offset-2">	
				
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media open">
								<div class="media-body">
									<h4>WEB APPLICATION TO ACCURATELY MONITOR KPIs FOR CAFE NEOs SALES</h4>
									<ul class="tag clearfix">
										<li class="btn pull-left"><a href="#">LEVEL 6</a></li>
										<li class="btn"><a href="#">CAFE NEO</a></li>
                                    <li class="btn pull-right"><i class="fa fa-toggle-on"></i></li>
                                    </ul>
                                    <p>Cafe Neo want to improve sales performance and customer satisfaction.</p>
								</div>
							</div><!--/.media -->
							
							<div class="media-body">
									<ul class="tag clearfix">
										<li class="btn pull-right"><a href="#">N200,000</a></li>
										<li class="btn pull-right"><a href="#">5 Months</a></li>
									</ul>
				          </div>
						</div>
					</div><!--/.col-lg-4 -->					
				</div> <!--/.row -->
				<div class="row team-bar">
					<div class="first-one-arrow hidden-xs">
						<hr>
					</div>
					<div class="first-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="second-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
					<div class="third-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="fourth-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
				</div> <!--skill_border-->       
				<div class="row clearfix">   
					<div class="col-md-4 col-sm-6 col-md-offset-2">	
						<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media closed">
								<div class="media-body">
									<h4>SISOGLOCAL WANTS A DATABASE FOR THE IDPS</h4>
									<ul class="tag clearfix">
										<li class="btn pull-left"><a href="#">LEVEL 5</a></li>
										<li class="btn"><a href="#">SISO</a></li>
                                    <li class="btn pull-right"><i class="fa fa-toggle-off"></i></li>
                                    </ul>
                                    <p>Sisioglocal wants a simple web interface that collects data at the front end and updates database at the backend..</p>
								</div>
							</div><!--/.media -->
							
							<div class="media-body">
									<ul class="tag clearfix">
										<li class="btn pull-right"><a href="#">N300,000</a></li>
										<li class="btn pull-right"><a href="#">2 Months</a></li>
									</ul>
				          </div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-md-offset-2">
						<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media open">
								<div class="media-body">
									<h4>PAYLATER'S POTENTIAL LOANERS</h4>
									<ul class="tag clearfix">
										<li class="btn pull-left"><a href="#">LEVEL 2</a></li>
										<li class="btn"><a href="#">ONEFI</a></li>
                                    <li class="btn pull-right"><i class="fa fa-toggle-on"></i></li>
                                    </ul>
                                    <p>Paylater wants to identify potential customers via twitter, facebook and instagram.</p>
								</div>
							</div><!--/.media -->
							
							<div class="media-body">
									<ul class="tag clearfix">
										<li class="btn pull-right"><a href="#">N600,000</a></li>
										<li class="btn pull-right"><a href="#">5 Months</a></li>
									</ul>
				          </div>
						</div>
					</div>
				</div>	<!--/.row-->
			</div><!--section-->
		</div><!--/.container-->
   <div class="row team-bar">
					<div class="first-one-arrow hidden-xs">
						<hr>
					</div>
					<div class="first-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="second-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
					<div class="third-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="fourth-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
				</div> <!--skill_border-->       
   	<div class="team">
				<div class="row clearfix">
					<div class="col-md-4 col-sm-6">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media open">
								<div class="media-body">
                                    <h4>ZEESAA'S DATA ANALYSIS</h4>
                                    <ul class="tag clearfix">
										<li class="btn pull-left"><a href="#">LEVEL 5</a></li>
										<li class="btn"><a href="#">DSNG</a></li>
                                    <li class="btn pull-right"><i class="fa fa-toggle-on"></i></li>
                                    </ul>
                                    <p> ZEESAA wants a web app to monitor suply chain logistics and improve supply chain performance.</p>
							</div><!--/.media -->
							
							<div class="media-body">
									<ul class="tag clearfix">
										<li class="btn pull-right"><a href="#">ANALYST @ ZEESAA</a></li>
										<li class="btn pull-right"><a href="#">2 Months</a></li>
										 
									</ul>
				          </div>
						</div>
					</div><!--/.col-lg-4 -->
                    </div>
					
					
					<div class="col-md-4 col-sm-6 col-md-offset-2">	
				
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media open">
								<div class="media-body">
									<h4>ONEFI WANTS A MODEL TO PREDICT CREDIT DEFAULT OF ITS POTENTIAL CUSTOMERS.</h4>
									<ul class="tag clearfix">
										<li class="btn pull-left"><a href="#">LEVEL 2</a></li>
										<li class="btn"><a href="#">ONEFI</a></li>
                                    <li class="btn pull-right"><i class="fa fa-toggle-on"></i></li>
                                    </ul>
                                    
                                    <p>Onefi is a FinTech company looking to reduce risk associated with money lending and borrowing.</p>
								</div>
							</div><!--/.media -->
							
							<div class="media-body">
									<ul class="tag clearfix">
										<li class="btn pull-right"><a href="#">DataScientist @ Onefi</a></li>
										<li class="btn pull-right"><a href="#">1 Month</a></li>
									</ul>
				          </div>
						</div>
					</div><!--/.col-lg-4 -->					
				</div> <!--/.row -->
				<div class="row team-bar">
					<div class="first-one-arrow hidden-xs">
						<hr>
					</div>
					<div class="first-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="second-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
					<div class="third-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="fourth-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
				</div> <!--skill_border-->       
				<div class="row clearfix">   
					<div class="col-md-4 col-sm-6 col-md-offset-2">	
						<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media open">
								<div class="media-body">
									<h4>INTEGRATE NEWS ARTICLES AND CRISIS DATA TO PREDICT THE NEXT BH CRISIS</h4>
									<ul class="tag clearfix">
										<li class="btn pull-left"><a href="#">LEVEL 5</a></li>
										<li class="btn"><a href="#">DSNG</a></li>
                                   <li class="btn pull-right"><i class="fa fa-toggle-on"></i></li>
                                    </ul>
									<p>Integrating Social Media Data With crisis data, Find correlations across Variables and Time Patterns.</p>
								</div>
							</div><!--/.media -->
							
							<div class="media-body">
									<ul class="tag clearfix">
										<li class="btn pull-right"><a href="#">PRACTICE</a></li>
										<li class="btn pull-right"><a href="#">1 Month</a></li>
										
										
									</ul>
				          </div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-md-offset-2">
						<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media open">
								<div class="media-body">
									<h4>CLUSTER NIGERIAN STATES FOR EFFECTIVE POLICY ADMINISTRATION</h4>
									<ul class="tag clearfix">
										<li class="btn pull-left"><a href="#">LEVEL 2</a></li>
										<li class="btn"><a href="#">DSNG</a></li>
                                   <li class="btn pull-right"><i class="fa fa-toggle-on"></i></li>
                                    </ul>
								</div>
								<p>Using data collected o Nigerian States perform a cluster analysis of all states without Bias.</p>
							</div><!--/.media -->
							
							<div class="media-body">
									<ul class="tag clearfix">
										<li class="btn pull-right"><a href="#">PRACTICE</a></li>
										<li class="btn pull-right"><a href="#">1 wEEK</a></li>
										
									</ul>
				          </div>
						</div>
					</div>
				</div>	<!--/.row-->
			</div><!--section-->
		</div><!--/.container-->
    </section><!--/about-us-->
    <!--THIS IS THE PANELS FOR THE COMPETITIONS PAGE ENDS HERE-->
    
    <div class= "container-fluid">
        <h3>APPLY FOR A COMPETITION HERE <a href="apply.html"><i class="fa fa-caret-right"></i></a></h3>
        
    </div>
    
    
    
    
    </div>