<div style="position:fixed">
<div class="col-md-12 bg-container">
	<div class="row">
		<div class="bg-image">
			<div class="container">
			  <div class="bubble-wrap">
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			  <div class="bubble"></div>
			</div>
		  </div>
	    </div>
    </div>
</div> 
<div id="footer" class="col-md-12 footer">   
	<div class="row">	
	   <div id="landing-text" class="landing-text">
	     <h3>A Team Of Data Scientists Is At Your Fingertips</h3>
	     <p>For data enthusiast, learn the skills required to make data driven business decisions.</p>
	     <p>For data enthusiast, learn the skills required to make data driven business decisions.</p>
	   </div>
	   <div id="landing-image" class="landing-image">
	     <h3>This companies and more trust us with their data</h3>
	     <img class="company-images" src="assets/neo.png" alt="" />
	     <img class="company-images" src="assets/zeesaa.png" alt="" />
	     <img class="company-images" src="assets/onefi.png" alt="" />
	     <img class="company-images" src="assets/sisoglocal.png" alt="" />
	   </div>
	</div>   
</div>
</div>